TCJ_PORT=8787
TCJ_JUDGE_MODE=mock
TCJ_ALLOW_EXTERNAL_JUDGE=false
TCJ_JUDGE_BASE_URL=http://host.docker.internal:11434/v1
TCJ_JUDGE_API_STYLE=chat_completions
TCJ_JUDGE_MODEL=local-model
TCJ_JUDGE_API_KEY=
TCJ_METHODOLOGY_PACK_PATH=/opt/tcj/methodology-pack.json
TCJ_VOICE_PROFILE_PATH=/opt/tcj/voice-profile.json
TCJ_PASSPORT_PATH=/opt/tcj/passport.json
TCJ_EVIDENCE_URL=
TCJ_EVIDENCE_INTERNAL_KEY=
TCJ_MAX_EVIDENCE_CALLS=2
TCJ_MAX_REVISION_CYCLES=1
